<div class="wallet-container">
    <div class="main_header single">
        <h1>{{i18n "Login"}}</h1>
    </div>

    <div class="content-section accent-color-background-reverse half-sections-list">
      <ul>
        <li class="info_box">
          <div class="info_box__content">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group-lg">
                        <label for="identifier">{{i18n "Identifier"}}</label>
                        <input type="text" class="form-control" id="identifier-txt" name="identifier"/>
                    </div>
                    <div class="form-group-lg">
                        <label for="password">{{i18n "Password"}}</label>
                        <input type="password" class="form-control" id="password-txt" name="password"/>
                    </div>
                    <hr/>
                    <div class="form-group-lg">
                        <button class="btn btn-lg btn-default" id="login-btn">{{i18n "Login"}}</button>
                        <a href="/wallet/create">
                            <button class="btn btn-lg btn-primary" id="register-lnk">{{i18n "Register"}}</button>
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </li>
        <li class="info_box">
          <h3> <i class="fa fa-warning"></i> {{i18n "Forgot 2FA"}}</h3>

          <p>{{i18n "Please contact us via the"}} <a href="/contact">{{i18n "Contact Page"}}</a>. {{i18n "There is no automated recovery process right now"}}.</p>
          <p>{{i18n "You will need to have an email on your account so that we can verify that you are the original owner"}}.</p>
          <hr>
          <h3> <i class="fa fa-life-buoy"></i> {{i18n "Lost my password"}}</h3>
          <!--<a href="/wallet/forgot2fa">Lost 2FA</a>-->
          <p>{{i18n "Due to the way ChauchaVault works, we CANNOT help you with a lost password, your wallet is encrypted and we don't store the password, or any hash on our servers."}}
          {{i18n "We can only help you with lost authenticators, or other forms of 2FA."}}</p>
        </li>
      </ul>
    </div>
</div>

<div class="modal fade" id="authenticatorModal" tabindex="-1" role="dialog" aria-labelledby="authenticatorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="authenticatorModalLabel">{{i18n "This wallet has 2FA enabled"}}.
                  {{i18n "Please authenticate"}}</h4>
            </div>
            <div class="modal-body">
                <p>{{i18n "Please enter the numeric code from your authenticator app"}}. {{i18n "This wallet has 2-Factor authentication and you cannot login without entering a valid 2FA token for this account"}}.</p>
                <input type="text" class="form-control" id="authenticator-token" placeholder="e.g. 123455"/><br/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="is-trusted-chk" />
                        {{i18n "Trust this device (don't ask me for a 2-Factor token for a week)"}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="authenticator-btn">{{i18n "Login"}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "Cancel"}}</button>
            </div>
        </div>
    </div>
</div>
