
<div class="main_header single">
    <h1>
        {{i18n "About"}}
    </h1>
</div>

<div class="content-section accent-color-background-reverse half-sections-list">
  <ul>
    <li class="info_box">
      <div class="info_box__content">
        <h3 style="color: #2AE4A9"> <i class="fa fa-question"></i> <span>{{i18n "What is ChauchaVault?"}}</span></h3>
        <p>
          {{i18n "ChauchaVault is an online wallet service which uses in-browser cryptography to reduce the risk of the coin operator witholding the funds, or hijacking them altogether."}}
          {{i18n "This same system is used by"}} <a href="//blockchain.info" target="_blank">Blockchain.info</a>{{i18n " - a well known online Bitcoin wallet*."}}
        </p>
        <p><small>* We are not affiliated in any way with Blockchain.info, or any other wallet or exchange service.</small></p>
      </div>
    </li>
    <li class="info_box">
      <h3 style="color: #2AE4A9"><i class="fa fa-cog"></i> <span>{{i18n "How does it work?"}}</span></h3>
      <p>
        {{i18n "When you login to ChauchaVault, your browser sends your identifier to our server, we return an encrypted version of your wallet with the"}} <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES algorithm</a>{{i18n ", your browser then decrypts this using your password (which is never sent to the server) to load your private keys used to sign transactions."}}
      </p>
    </li>
  </ul>
</div>
