
<div class="hero-welcome home-section text-center">
    <figure class="hero-logo">
      <img src="/assets/images/logo-XL.png" alt="">
    </figure>
    <h1 class="text-center"><small>{{i18n "Welcome to"}} </small>{{i18n "ChauchaVault"}}</h1>
    <h3 class="text-center">{{i18n "the "}} <span class="accent-color">{{i18n "trustless"}}</span> {{i18n "online wallet for Chaucha"}}</h3>
    <!-- Login/signup -->
    <div class="row action-buttons">
      <div class="col-md-6 col-md-offset-3">
        <a href="/wallet/login" class="btn btn-lg btn-default">{{i18n "Login"}}</a>
        <a href="/wallet/create" class="btn btn-lg btn-primary">{{i18n "Register"}}</a>
      </div>
    </div>
  </div>

<div class="content-section shade-background half-sections-list">
  <ul>
    <li class="info_box">
      <div class="info_box__content">
        <h3> <i class="fa fa-lock"></i> <span></span>{{i18n "Secure"}}</h3>
        <p>
          {{i18n "Your wallet is encrypted before it touches our servers."}}
          {{i18n "Unlike other Chaucha wallet services, we NEVER see your private keys, and are unable to access your funds. Your privacy, and the safety of your funds, is guaranteed."}}
        </p>
      </div>
    </li>
    <li class="info_box">
      <div class="info_box__content">
        <h3> <i class="fa fa-flash"></i> <span>{{i18n "Fast"}}</span></h3>
        <p>
          {{i18n "No blockchain download needed, "}} <a href='/wallet/create'> {{i18n "sign up for an account"}}</a> {{i18n "in seconds! Easy, universal access to blazingly-fast server technology delivering reliable transactions instantaneously, worldwide."}}
        </p>
      </div>
    </li>
    <li class="info_box">
      <div class="info_box__content">
        <h3> <i class="fa fa-github"></i> <span>{{i18n "Open"}}</span></h3>
        <p>
            {{i18n "We love Open Source software as much as you do, which is why we have all of our source code publicly available for you "}} <a href="https://github.com/p0ns/ChauchaVault">{{i18n "on GitHub"}}.</a>
        </p>
      </div>
    </li>
    <li class="info_box">
      <div class="info_box__content">
        <h3> <i class="fa fa-heart"></i> <span>{{i18n "Easy"}}</span></h3>
        <p>
          {{i18n "ChauchaVault is extremely easy to use: send and receive Chauchas from your browser on computer and mobile, all without downloading any additional software."}}
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="content-section full-screen-section">
  <div class="full-screen-content">
    <blockquote>

      At its core, cryptocurrency is a smart currency, designed by very forward-thinking engineers. It eliminates the need for banks, gets rid of credit card fees, currency exchange fees, money transfer fees, and reduces the need for lawyers in transitions… all good things.

    <footer><cite><a title="Paul Vigna, The Age of Cryptocurrency: How Bitcoin and Digital Money Are Challenging the Global Economic Order" href="https://www.goodreads.com/book/show/22174460-the-age-of-cryptocurrency" target="_blank">Paul Vigna, The Age of Cryptocurrency: How Bitcoin and Digital Money Are Challenging the Global Economic Order</a></cite></footer></blockquote>
  </div>
</div>

<div class="content-section neutral-color-background half-sections-list">
  <!-- Info boxes (type 2) -->

  <ul>
    <li>
      <h3> <i class="fa fa-question"></i> <span>{{i18n "What is ChauchaVault?"}}</span></h3>
      <p>
        {{i18n "ChauchaVault is an online wallet service which uses in-browser cryptography to reduce the risk of the coin operator witholding the funds, or hijacking them altogether."}}
        {{i18n "This same system is used by"}} <a href="//blockchain.info" target="_blank">Blockchain.info</a>{{i18n " - a well known online Bitcoin wallet*."}}
      </p>
      <p><small>* We are not affiliated in any way with Blockchain.info, or any other wallet or exchange service.</small></p>
    </li>
    <li>
      <h3><i class="fa fa-cog"></i> <span>{{i18n "How does it work?"}}</span></h3>
      <p>
        {{i18n "When you login to ChauchaVault, your browser sends your identifier to our server, we return an encrypted version of your wallet with the"}} <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES algorithm</a>{{i18n ", your browser then decrypts this using your password (which is never sent to the server) to load your private keys used to sign transactions."}}
      </p>
    </li>
    <li>
      <h3><i class="fa fa-user"></i> <span>{{i18n "Who made ChauchaVault?"}}</span></h3>
      <p>
        {{i18n "LiteVault was made by"}} <a href="http://someguy123.com">Someguy123</a> {{i18n "and then in December 2017 forked into ChauchaVault by"}} <a href="http://p0ns.org">p0ns</a>{{i18n ", with the mission of becoming the easiest and most awesome way to make and receive quick payments with your CHA"}}.
      </p>
    </li>
    <li>
      <h3><i class="fa fa-server"></i> <span>{{i18n "What kind of technology was used?"}}</span></h3>
      <p>
        {{i18n "The backend was built in Node.JS, For the frontend Bootstrap was used (and completely re-styled) for the HTML and CSS to ensure a good, responsive layout was possible, allowing the website to work well on mobiles, tablets and computers."}}
      </p>
    </li>
  </ul>
</div>
